<h2>SO YOU JUST CAME IN YOUR JEANS</h2>
<h5>Don't worry. It's her fault, not yours</h5>
<p>Yeah, your undies are a little wet. Maybe it's starting to show through your pants. Don't panic, broseph. She probably showed a bunch of cleave. Maybe she pushed your hand away when you worked your way up her thigh. You most likely did what any manly man who is manly would do: dry humped that leg in an effort to get those p-juices flowin'.</p>
<br>
<p>Don't worry, Bro-nan the Babe-arian. It's that bitch's fault. The second she made eye contact with you, she entered into a non-verbal contract in which you gained ownership of that poonanny. That vajinky is yours, Erin Bro-kavich. And she was legally obligated to put all four of your above-average inches into her no-no parts.</p>
<p>But here's where you went wrong, Bro Nameth. You didn't whip out that </p>